[Unit]
Description=Web Multi-Tool Service
Documentation=https://gweb.readthedocs.io
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/app/gweb
Environment="PYTHONPATH=/opt/app/gweb/deploy"
ExecStart=/opt/app/gweb/deploy/gweb -c /opt/app/gweb/deploy/gweb.yaml

[Install]
WantedBy=multi-user.target
