[submodule "third_party/formatui"]
	path = third_party/formatui
	url = https://github.com/imssyang/formatui.git
[submodule "third_party/mediaui"]
	path = third_party/mediaui
	url = https://github.com/imssyang/mediaui.git
[submodule "third_party/webui"]
	path = third_party/webui
	url = https://github.com/imssyang/webui.git
