[submodule "third_party/formatui"]
	path = third_party/formatui
	url = https://github.com/imssyang/formatui.git
[submodule "third_party/mediaui"]
	path = third_party/mediaui
	url = https://github.com/imssyang/mediaui.git
[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = https://github.com/imssyang/ffmpeg.git
[submodule "third_party/libmedia"]
	path = third_party/libmedia
	url = https://github.com/imssyang/libmedia.git
