html {
  font-family: sans-serif;
}

body {
  margin: 0 0;
  line-height: 1.35;
  background: white;
  font-size: 16px;
}

/* bootstrap-icons styles */
.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  vertical-align: baseline;
  padding: 0 2px;
}

/* w2ui styles */
.w2ui-toolbar {
  font-family: sans-serif;
}
.w2ui-toolbar {
  font-size: 16px;
}
.w2ui-icon {
  height: 18px;
  margin: 0;
}
.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button .w2ui-tb-text {
  padding: 3px;
}
#w2overlay-x2toolbar-drop .menu-icon {
  width: 20px;
}
#w2overlay-x2toolbar-drop .menu-extra {
  display: none;
}
#w2overlay-x2layout_left_toolbar-drop .menu-icon {
  width: 20px;
}
#w2overlay-x2layout_left_toolbar-drop .menu-extra {
  display: none;
}
#w2overlay-x2layout_main_toolbar-drop .menu-icon {
  width: 20px;
}
#w2overlay-x2layout_main_toolbar-drop .menu-extra {
  display: none;
}
#w2overlay-x2layout_right_toolbar-drop .menu-icon {
  width: 20px;
}
#w2overlay-x2layout_right_toolbar-drop .menu-extra {
  display: none;
}

/* codemirror6 styles */
.cm-editor .cm-scroller {
  font-family: monospace, sans-serif;
  font-size: 14px;
}
.cm-editor .cm-search {
  font-family: 'OpenSans', Consolas, verdana, monospace;
  font-size: 14px;
}
.cm-editor .cm-button {
  font-family: monospace, sans-serif;
}
