{{ define "formatify/index" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .title }}</title>
  <link rel=icon href={{ .icon }}>
  <link rel="stylesheet" href="plugins/w2ui@2.0.0/w2ui-2.0.min.css">
  <link rel="stylesheet" href="plugins/bootstrap-icons@1.11.2/bootstrap-icons.min.css">
  <link rel="stylesheet" href={{ .css }}>
</head>
<body>
  <script type="module">
    import { InitUI } from {{ .js }}
    InitUI({
      url: {
        prefix: {{ .uiPrefix }},
      }
    })
  </script>
</body>
</html>
{{ end }}