{{ define "formatify/index" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>formatify</title>
  <link rel=icon href="img/formatify.svg">
  <link rel="stylesheet" href="plugins/w2ui@2.0.0/w2ui-2.0.min.css">
  <link rel="stylesheet" href="plugins/bootstrap-icons@1.11.2/bootstrap-icons.min.css">
  <link rel="stylesheet" href="formatify/dist/index.min.css">
</head>
<body>
  <script type="module" src="formatify/dist/index.min.js"></script>
</body>
</html>
{{ end }}